<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivationInfoXML</key>
	<data>
	PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBs
	aXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3
	dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJz
	aW9uPSIxLjAiPgo8ZGljdD4KCTxrZXk+QWN0aXZhdGlvblJlcXVlc3RJbmZvPC9rZXk+
	Cgk8ZGljdD4KCQk8a2V5PkFjdGl2YXRpb25SYW5kb21uZXNzPC9rZXk+CgkJPHN0cmlu
	Zz4zNzY5RUZDOS1BOEZFLTQ2RTMtQkQ4NS03N0MxNjIwMkUzRTM8L3N0cmluZz4KCQk8
	a2V5PkFjdGl2YXRpb25TdGF0ZTwva2V5PgoJCTxzdHJpbmc+VW5hY3RpdmF0ZWQ8L3N0
	cmluZz4KCQk8a2V5PkZNaVBBY2NvdW50RXhpc3RzPC9rZXk+CgkJPGZhbHNlLz4KCTwv
	ZGljdD4KCTxrZXk+QmFzZWJhbmRSZXF1ZXN0SW5mbzwva2V5PgoJPGRpY3Q+CgkJPGtl
	eT5BY3RpdmF0aW9uUmVxdWlyZXNBY3RpdmF0aW9uVGlja2V0PC9rZXk+CgkJPHRydWUv
	PgoJCTxrZXk+QmFzZWJhbmRBY3RpdmF0aW9uVGlja2V0VmVyc2lvbjwva2V5PgoJCTxz
	dHJpbmc+VjI8L3N0cmluZz4KCQk8a2V5PkJhc2ViYW5kQ2hpcElEPC9rZXk+CgkJPGlu
	dGVnZXI+OTM4MjA5PC9pbnRlZ2VyPgoJCTxrZXk+QmFzZWJhbmRNYXN0ZXJLZXlIYXNo
	PC9rZXk+CgkJPHN0cmluZz4xQjQxNjA3NjUwRUJGMTFDNkIzOUY0MUNCMjY3REM2NEMx
	MjFBOUJDRjQ0REJBNUQyOEY1NUFDQzg2MzYxQkJBMzY2NTU0Q0Q1N0I0QzQ2NjA1NTgw
	M0UxRUY4MUM4NzA8L3N0cmluZz4KCQk8a2V5PkJhc2ViYW5kU2VyaWFsTnVtYmVyPC9r
	ZXk+CgkJPGRhdGE+CgkJZ1M4K0pBPT0KCQk8L2RhdGE+CgkJPGtleT5JbnRlcm5hdGlv
	bmFsTW9iaWxlRXF1aXBtZW50SWRlbnRpdHk8L2tleT4KCQk8c3RyaW5nPjM1OTczNTE5
	ODgzNzQ4NDwvc3RyaW5nPgoJCTxrZXk+SW50ZXJuYXRpb25hbE1vYmlsZUVxdWlwbWVu
	dElkZW50aXR5Mjwva2V5PgoJCTxzdHJpbmc+MzU5NzM1MTk4MjIxNzM5PC9zdHJpbmc+
	CgkJPGtleT5Nb2JpbGVFcXVpcG1lbnRJZGVudGlmaWVyPC9rZXk+CgkJPHN0cmluZz4z
	NTk3MzUxOTg4Mzc0ODwvc3RyaW5nPgoJCTxrZXk+U0lNU3RhdHVzPC9rZXk+CgkJPHN0
	cmluZz5rQ1RTSU1TdXBwb3J0U0lNU3RhdHVzTm90SW5zZXJ0ZWQ8L3N0cmluZz4KCQk8
	a2V5PlNJTVN0YXR1czI8L2tleT4KCQk8c3RyaW5nPmtDVFNJTVN1cHBvcnRTSU1TdGF0
	dXNOb3RJbnNlcnRlZDwvc3RyaW5nPgoJCTxrZXk+U3VwcG9ydHNQb3N0cG9uZW1lbnQ8
	L2tleT4KCQk8dHJ1ZS8+CgkJPGtleT5rQ1RQb3N0cG9uZW1lbnRJbmZvUFJMTmFtZTwv
	a2V5PgoJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgkJPGtleT5rQ1RQb3N0cG9uZW1lbnRJ
	bmZvU2VydmljZVByb3Zpc2lvbmluZ1N0YXRlPC9rZXk+CgkJPGZhbHNlLz4KCTwvZGlj
	dD4KCTxrZXk+RGV2aWNlQ2VydFJlcXVlc3Q8L2tleT4KCTxkYXRhPgoJTFMwdExTMUNS
	VWRKVGlCRFJWSlVTVVpKUTBGVVJTQlNSVkZWUlZOVUxTMHRMUzBLVFVsSlFuaEVRME5C
	VXpCRFFWRkIKCWQyZFpUWGhNVkVGeVFtZE9Wa0pCVFZSS1JGRXhVVlJCZVU5RVNUTk1W
	Rmw1VWtWUmRFNUVRVFZOYVRGRFQxVk9RZzBLCglURlJWZWsxRVZURk5lbU0wVDBSamVF
	MTZSVXhOUVd0SFFURlZSVUpvVFVOV1ZrMTRRM3BCU2tKblRsWkNRV2RVUVd0TwoJUWsx
	U1NYZEZRVmxFVmxGUlNBMEtSWGRzUkdSWVFteGpibEp3WW0wNGVFVjZRVkpDWjA1V1Fr
	RnZWRU5yUm5kalIzaHMKCVNVVnNkVmw1TkhoRWVrRk9RbWRPVmtKQmMxUkNiV3hSWVVj
	NWRRMEtXbFJEUW01NlFVNUNaMnR4YUd0cFJ6bDNNRUpCCglVVVZHUVVGUFFtcFJRWGRu
	V1d0RFoxbEZRVzgyV1VOb1NXY3hkRUpEVkc5cmQyOUplR2d6WmxabWVnMEtNelZCYVZk
	cgoJU1dJMWRrNDVWWFJUWkRCRk16VlNZMFJVVFZKdFVWVnlhbVpIZDJaM1RVeFlVblpM
	TTNweVV5dG5Rbkl3ZDBaV1ozZzQKCWJsRm1XalJXU0EwS01sWjRMMjV1WTJkMGQxcHBV
	VXAzVVhoV1oyOTBiVGhpWTNKdFp6WnNUelIwY21SVGQwaE1SbWhKCgliVkZQV0UxdmRF
	aFJMelZVUjFsS1owdFpWMVZuVUEwS2NHZDJNRFpxZFd0Q2RtVmFVMlZGUkdseGMwTkJk
	MFZCUVdGQgoJUVUxQk1FZERVM0ZIVTBsaU0wUlJSVUpDVVZWQlFUUkhRa0ZKUTJKR2VV
	NUNZblJLV2cwS1JrSkpkbnBWT0Zab1pFVTQKCVdEUnZVbE42YjNoeFJIUkRZbTFOZFVO
	WU4waEdWR2x5UW01dVZEQnZjalZDVjNNcmVrUlJSamRuVEdzMWFEQnRUMVZJCglSdzBL
	VUdGeGQySjBjMkl4YzBZeWJXSTFOblV5UXpZdlJWcHlaRnBvTTFCNVRFMXBLM2RPV1Zj
	d05VbzBORkJ1ZVM5WAoJTldocWIyZzNhM2xoWmpsV1ZVeDNSUTBLZWxCUEszVlRkVWRO
	TUU5S1JVbElPV1JDYnpoeFJWWkxVVzlTZVcxNFRHRUsKCUxTMHRMUzFGVGtRZ1EwVlNW
	RWxHU1VOQlZFVWdVa1ZSVlVWVFZDMHRMUzB0Cgk8L2RhdGE+Cgk8a2V5PkRldmljZUlE
	PC9rZXk+Cgk8ZGljdD4KCQk8a2V5PlNlcmlhbE51bWJlcjwva2V5PgoJCTxzdHJpbmc+
	RzBORzMxMlAwRDQwPC9zdHJpbmc+CgkJPGtleT5VbmlxdWVEZXZpY2VJRDwva2V5PgoJ
	CTxzdHJpbmc+MDAwMDgxMDEtMDAxNDI4OTgxQTAzMDAxRTwvc3RyaW5nPgoJPC9kaWN0
	PgoJPGtleT5EZXZpY2VJbmZvPC9rZXk+Cgk8ZGljdD4KCQk8a2V5PkJ1aWxkVmVyc2lv
	bjwva2V5PgoJCTxzdHJpbmc+MTlENTI8L3N0cmluZz4KCQk8a2V5PkRldmljZUNsYXNz
	PC9rZXk+CgkJPHN0cmluZz5pUGhvbmU8L3N0cmluZz4KCQk8a2V5PkRldmljZVZhcmlh
	bnQ8L2tleT4KCQk8c3RyaW5nPkE8L3N0cmluZz4KCQk8a2V5Pk1vZGVsTnVtYmVyPC9r
	ZXk+CgkJPHN0cmluZz5NRzlDMzwvc3RyaW5nPgoJCTxrZXk+T1NUeXBlPC9rZXk+CgkJ
	PHN0cmluZz5pUGhvbmUgT1M8L3N0cmluZz4KCQk8a2V5PlByb2R1Y3RUeXBlPC9rZXk+
	CgkJPHN0cmluZz5pUGhvbmUxMyw0PC9zdHJpbmc+CgkJPGtleT5Qcm9kdWN0VmVyc2lv
	bjwva2V5PgoJCTxzdHJpbmc+MTUuMy4xPC9zdHJpbmc+CgkJPGtleT5SZWdpb25Db2Rl
	PC9rZXk+CgkJPHN0cmluZz5MTDwvc3RyaW5nPgoJCTxrZXk+UmVnaW9uSW5mbzwva2V5
	PgoJCTxzdHJpbmc+TEwvQTwvc3RyaW5nPgoJCTxrZXk+UmVndWxhdG9yeU1vZGVsTnVt
	YmVyPC9rZXk+CgkJPHN0cmluZz5BMjM0Mjwvc3RyaW5nPgoJCTxrZXk+U2lnbmluZ0Z1
	c2U8L2tleT4KCQk8dHJ1ZS8+CgkJPGtleT5VbmlxdWVDaGlwSUQ8L2tleT4KCQk8aW50
	ZWdlcj41Njc0MTMzMjcwNzU3NDA2PC9pbnRlZ2VyPgoJPC9kaWN0PgoJPGtleT5SZWd1
	bGF0b3J5SW1hZ2VzPC9rZXk+Cgk8ZGljdD4KCQk8a2V5PkRldmljZVZhcmlhbnQ8L2tl
	eT4KCQk8c3RyaW5nPkE8L3N0cmluZz4KCTwvZGljdD4KCTxrZXk+U29mdHdhcmVVcGRh
	dGVSZXF1ZXN0SW5mbzwva2V5PgoJPGRpY3Q+CgkJPGtleT5FbmFibGVkPC9rZXk+CgkJ
	PHRydWUvPgoJPC9kaWN0PgoJPGtleT5VSUtDZXJ0aWZpY2F0aW9uPC9rZXk+Cgk8ZGlj
	dD4KCQk8a2V5PkJsdWV0b290aEFkZHJlc3M8L2tleT4KCQk8c3RyaW5nPjM4OjY1OmIy
	OjZiOjllOmE2PC9zdHJpbmc+CgkJPGtleT5Cb2FyZElkPC9rZXk+CgkJPGludGVnZXI+
	ODwvaW50ZWdlcj4KCQk8a2V5PkNoaXBJRDwva2V5PgoJCTxpbnRlZ2VyPjMzMDI1PC9p
	bnRlZ2VyPgoJCTxrZXk+RXRoZXJuZXRNYWNBZGRyZXNzPC9rZXk+CgkJPHN0cmluZz4z
	ODo2NTpiMjo3Yjo0YToxYTwvc3RyaW5nPgoJCTxrZXk+VUlLQ2VydGlmaWNhdGlvbjwv
	a2V5PgoJCTxkYXRhPgoJCU1JSWpvQUlCQWpDQ0k1a0VJUDRDM3NxUXRQMVMyaHdCWnpD
	b0hjc29IMnhOdTVjK2E0UTQ1b0oxTUtGMwoJCUJFRUUxRzh6MFB0cDBpekZYU09MSmFY
	RDBaQVUwcnU1aGxzdHl3MStXQ1RETk9wU296UnNLUEt6WW9SNwoJCWZoK09mdDhYN1Fw
	azluaGRXeUp4Y0lSNzFMUWg0d1FRUlRnVjVobmQ2a0lPa3dxYXdzQmE4QVFRd015NQoJ
	CXNLdVY2V0ZsRVRha2pUZVZaUVNDSXd3YmJ6YTlhUklrTUNKM2w1VHhTaEY3RWdhQmY3
	RUxIZ04yZ3pUdAoJCWFJNzRIN0xKcUdFMEZ6ZGNiMm53dkVTZXFwSkcxcXlEMlVIaDVV
	cTZLTjdTeElrZGdZYnE1UmljRndRKwoJCVZPY2JaZktRQWIwNUFrcDgyb3dTcGcwUHU2
	VFdjY0dzeUhvL0R0UU9UMEhPdVpWQkhPZURlMytIY0JsOQoJCXpndVZOendMNUdxVnhQ
	a2ltajRtWXRJaWRkdFFEWEhCbzF4dDVWU0RQZ1ZHSlNqMlVZRTRyZDBDa3JlcwoJCTd3
	VmJtMk0vU015cWQ1UkhVblEwaGxiOU9UNlFnMm1iSmYwOHR1Z1VJcUNqL2dQVDBNeGVT
	YzhuU29sbwoJCXY0YzJWemkrZ04wenZ4VnE3bm5nZGJtRmY5N3lweUVHL1ovUHBDd1kw
	TThWaTFBUzZCTHBhNWE2bzloRQoJCUtyaEZMQk0xNDZ4aWVjSVlrNnVTdVJtalhFd2pB
	UmtCaytzWTdpMDNXaWJlRGM0S29RekJZZU05VTA5SAoJCUpEemdsSDN5Y0NOUnFJL2hM
	aGZzT0dFVWxPSkc3SHhQcnI0MC9TUU9NcmlVeDAxN3R4N0tXdVZXZ2NjRQoJCXFNVUFx
	VWQwVVdlZStNd3RKOGNXSWNacXlZenNPbHBCaHV0K3EzbTR3M1gzVnVIQStxSEZUYmRx
	eDFORQoJCUtTZkkvVmxZMGNUa3p0YVJXN3djUCtBL0k0cDhDTmZhYzZtYU12SnhRVWVL
	U3dBQm9uWUNmZXZzRzZ1bAoJCTd1RkdYakE4TGg3ZXV2TGEwV3ZmK2p3L0tpcUtpOVo0
	NkJhMmI2NW9kWVB1RHRkTkdCNk5xdFhIL1oxdAoJCVkvcVR1cUNnUkU1OHEvT01OaHVM
	dyt6WmVkc3RTZ3BMMHM4RkM2YW5MazVzS2VTZFpBUTF5MHpqWGF3cgoJCW9lZzVvQzhG
	dmJxWlRXZVdnWjZ5REs2bU5ESWdUV0dQMVNNMHhlUVNwS2pKTHo1NmxOa2ZSUnRrZlc0
	MwoJCXFOZ2wvSURqOUlGS0ozVVJSYWpseVkvd1JNMEsveDBEVE9uL0tYWjJFQXBlZ3I3
	eDF5Si92RjlhUXZ6WgoJCTYzT1lpVVdidmJGcktHb2ZhQ2xDZEtLY0tzMVZGSklNbEo5
	ODBzR3ByRlA5YTVub2psUW1BRVE5dVFoVwoJCUR1M1hBbEp2bkJDVXphMHUwTnN2SzlB
	S1RjQU5yKzdsM0s4OGRoVUxQcTB5cHppVUcrYmc1cE5wbC9IRAoJCXRiNWsyWFlRWmRH
	YVNzTkVGREFlZmR2R21uQy82TDBUWEFtMmtodjkzWFc1blI1b2oxa2RRa3BEQ2I4dAoJ
	CVhNbk45THkxVXljaytScnhRdjEvSUVEVTFnL0QzbW9jdFpoOVpSWk56UEV0a0g5OVY3
	Z0VXYmVDeXd4LwoJCTNKTFc1M2ZuaDJqVXVCdTFLNEhpUlh1Q0ZJU2NSTmQrczhISUhx
	VXAxemptek1hbElkTjJGdWxSSWdzeQoJCStiTVhDZzV1MXo1dHlDWU5YWWRONUk2c0pM
	NTk3eXlGYzcwdzdmQ1hZTy8zL0lNRzF0bDNCSkM5eVhTZAoJCXpEMHJnNmUvNm1xUnZE
	UXRza0FnTHBFZ1dyVVVhTlZkK3VjRndyT2gxamVQUXFwajBaZXQ0cy9nY2VESgoJCTdP
	UnphbGlFc0ZGenQ3cjdkWjVnejRScDNpRStjRDRheEJOYm1lc0JDQTJEN0FDaVloLzRV
	c1N2UGN4eQoJCUJSbVVYVUNSOXh2cG9Sak9CUGRjUktrNm9jeVMvbkFLb1dKS1RWamta
	cDREak9nOUdDM1A2ZzJjeFJFVwoJCUVaOUdGRTVGVEtuVXBVQXhnbzVBeG1jQkZMREEz
	V3R0OFk5eG43MjIyaDMxRlBLQTRMa0djTEdmNGRKVAoJCWRkeTRJLzZvMk9OMVRENmtt
	UW16OEhRaDZhejdUZFFCTE5kUURwb0ljcDJpU21wV1NMQ0t0YnBjTUsyeQoJCW1SWllV
	WFVvQ2xLaGp0QkpLWlFmZThPM0dxUnVCRkN6YnZHSFc1YTAwMHVzK0hqcTBFYzg2Q1RD
	N2lzOQoJCVdXaElKOHh4WEdwZkIxUDM4VXJPQ0NNMXJMOFVDYlB5MWFiRlluL0N5Rysr
	UG0vZTMyNFlQK0JjdmJCRwoJCXg1c2RKQ2dMUVNkQ25vVStvemNVblNlcjFrOGhYS0ky
	SzI0dTRzbVJ3WXVPVGJ2eU9lb3RiUi9WRUNNQgoJCUhkUDRwM1h6VmxBeXBKYXVFbDFp
	eVNyb2FuMFdybk11aXFMY3hpL0pYcmZ0QlhNUHhPRDhjMk5FdFliSwoJCVJVbzRVWVBY
	UnlkYWZKMThUM3A0RlpoUEtVYXowdlZmRUhPNnlab3lpSHNRVnNvTkVZaEo0ekhQS1Nx
	NgoJCWwxYVk5WG81Y0NRbzJOd1NKYlhRZ0h5blhES25oL2hmRXFwQVE1eEVEUHBPd1Vs
	ODREczkxM3hyTTV0bAoJCUxwZGZzM3BUNVRkT1F5OE0zdWpFMTdITUltNUxzWmswQTJt
	S0FoOTh5S01sVjVuQTZYMi9ldXNNWlR4WAoJCVZJaEtUbzNwMGVSZzY3UUhMS1lwVHhF
	NWt3K1RaWFBVUzV6aCtDcmZlMWhyNGNObTJRcjV5dUFlcDlnMgoJCVVUekowRnJOR1VQ
	dEdFcWZXT3JkemRUcVNVaEFENW9JQVBSaDZUS3ZxbEJzUWIzOFhFWDEySGo4V2JIeAoJ
	CW9xeU9ZZVc1ZmttR242N0ZnSGJQM2hCK1NVUUpybW55L2hsQjJia1BDb04rM2hzTHFo
	R0FPeHN3T2hvSwoJCUNodUFNSWpHemNuZER0UG9hVXdsY2hQZzFSd01sZXpXRndLVzM1
	MWxYKzlIZmlyOGpYZm5ZbHpjWTF3QgoJCVhLTTAvN3ZFOUhMUDE3YmFWNEJLa0ZYWS9K
	RWt3UktNalozUjVCVE9XQ3NvdDFVazFSU01jOTJ2OWwrMwoJCUQ0V0tXVXJZWHpZMmNE
	bm9aWUQzN1JIZE5VUlRGMWYzQ0tvV3VSM0gybEpzK1htWlB6bURDQytpRWRqeAoJCVRO
	ZG5ISkIrZHcwN3RDeUV0ckI0SVluTjVHaEk1cldjTEpNNDVzUTJXd0FLMEg4WWp0cGQv
	Zlhmck1xcgoJCXZHN1FJMTY2UGVCOVdjemY3b1NYcjFFZlBnb3NyYk45TXozQ3I2WmVR
	NGYvYlVkRkJ5ZTFzL2dTc1N5RwoJCWxiSUpFU3JHQmV4anF0Y1UvR2s0YmhIdko4NmE5
	TXA5NkY3SzVSZW5BMEdxTDI2NG1TTHJaKzJ6OWV4WgoJCWJXMnZvSWxLYUlrakE3U1BG
	cVhlSDZsWmZqSU1qT1ZVZnpyM3c2VUNsNEMxQmZlS2RvZUwxVlZ4eThLMgoJCUszcit0
	MGFLaVFxY09OcU8zV1I0em5wUGdiRFJtQ3J5eFJPOVdvWk5MVEhhYW1Ba2tOZEZjQ0VS
	dWh5agoJCVRzTTcrdkhZT3RQaEpuQlVQc0s3T0NXTk1oUENvcWZpSEpOZ1VkTzBrMmJi
	WnVoaG5tQlJqU0RHTGI5YgoJCVpXb1Q0WjVWMGJVTWJrZndtTjZQam8wdHhTZ0Zpb0dz
	bDhXOGxxaHluWDd4aFJuV3lhMngxemxUTXRIcAoJCTFjSGtmNDAvRzdQY25ieWhkbThG
	OTdLODBaajNwK29yRE1JS1RvOTRnSFdZQzQ5eEViSzJyRVBhc09CTQoJCU5jejh6cFV1
	a2FRcWlqdEFLc0F6WklxcnNLVkhGWktiblJ4QnRSOUNvRVJsUHovNHVBOE1yQjhDaURO
	SAoJCXJjdkxyS3BkYnVrbHVBUXQvb1ZHTEV0L2o5WmRwU0dSMjE0WDBOczRIT2lGSVNs
	bEdiTzQ3QjZnV0cyVwoJCWM4NldtNitRMzNhS1dVNGNMSUkrUFoxVzJ1c3AyZWZrdmZl
	TW5wbnVBVFpEWUhaNjUzK0htZnVTdTZWMgoJCXBUWmlzSENIalFnczdlK3FKcnZnTE9r
	anhHaGYzeFl0V295NTNNMzhsellZc0FleStqWmxhck5HMjBIegoJCU5GL1czT0dkaE5E
	aXR1M1A3K0pPZTU2NjNkNko2OElaRjJaOUVLNm5wUkhTQVNRVkFRK2NnTUYwVDZTdAoJ
	CUJnejU3eHVXRjNjVlJlb3dIVlVkUDJZb2t6RC91RDRwMVNpYVhDcmwxS002K3FKRGdR
	bEpLeDFTbUNvTgoJCUZtczM5VlZvYjlReHpGbEhWVmozTThoQWhianEzSnVLYUlPKzBK
	cGtpU2ZOZE8zQWgxa1VhOVdJOXE1RQoJCWVWVkxqb0FNNC9UY3RwY1Z3WDBFZ0hORTNy
	cGNVUVFPNitLZXo0bDloZjJET0pReHM5Q1h1ZW90bWdUeQoJCTlhQXZIOFJWSTh2dmNv
	dnZaenoyTk5UWUFsa1RpQndvSTVCSDUyMG1EMjg3Zk5hZjMza3R3dTdrSDZaNgoJCWsy
	dHlXZDhQeUVDOEE1am5OWTVQbXJ3VVBtYXIvQURabVlaUGNYdDJheXU0TWo5QWU0VGt5
	bVBKYm0reAoJCWIveGozS3dTK3B1MjhPZTE3a3JsUUk0Ujk4dnNURXVPQitZdzNGSDlq
	cHBRTXR4ZHdJQlBDdS9ITTFNMwoJCXptUHkwZ0dqelgyOWdhWjZqM01UWk1JUGpFQzVM
	Z2xBaERYS1BRTmQ4K0dqUzJodVN4MWtBVlIxbEtGeAoJCUszQW1BZGsyeWxWcFpTMTk0
	OFNKM0N3RnUxZGxIclQrUWVEVGFWWktsNFB4cWhoOFgxRXBzQ0d1YkJ5SQoJCWYzd25j
	a2NvOUdjRW4vTGlZV2ZrbHBZYUpGQytaWGlrcmtYcm9vOEFQdXlhWFdkZGQ4eXFmeHp2
	NkFOLwoJCVlhWWNKQVY3OXdmSWVKVTdrZTJPZk5PYmt2V1NldUROMFZEYUJZSmkrK3R4
	VndSeHRNNGcxV0RzYmxRVgoJCWFSdzNwVm1heUs0WlpKc20rZXhoNkdwNnVYNnJxMWhx
	eUgrSmRPbEdIOENSdU5PbGZEbWE0b3NVZkVZRgoJCUt2VGRvY2FGSkF4N283ZURNUFlT
	RFJOQW8zOHJmMWNSdDVGd0dkZGJKYmYwSnNwRFllNnpKQnhPSnFvVQoJCTB5SU9FSVRX
	WHVvZVJvZkRleEw4Z1lpcXhMaHNJbFMvMS8wQWY4RXVJL25OWk5yZVJlbm1JakxtUU5X
	dgoJCStENURYdVRYZkN4QWxVaDVBMnFqMjdyMER4SmZLcmYrMHhDWEZNOGhiWXFUbTRv
	Rlg1MndQQ05QVEdVVAoJCS83N2l0VjJTK0NNZ002RU5rZWRGN1pnVjRCcUxRa09aQklp
	eGUvLzhmcUNTTmRuM1B3UnpHbjUzTW0yUQoJCUMzL3hFWE9wRHZhZHpSQXpicHpTSkxh
	SHp2Z1RYTEJadnlmY2hRY3NCMW85TlEwTzVleGhFUWRnNkYvZgoJCW5LK1JrRW5Vd2w3
	d3pHSWNUMTMrMG9qWEVhUnlxMWhOQmp2WTNGTjNVMGxBbDZoLy9yZHJnY00wL2hISwoJ
	CW5wYmVSOFdzclNZcG01WjdjZlJCdVhDNWVSN3V2UXVsVUR1OUJrcGxjR1hIWFF6WjNp
	SmxGcmpXbFNjTQoJCUp4cG1yaFg5MW9NOEpPa0xpbnkzWlBBbEpwVzgweWdEMENna3o5
	VkFLK1JSWGxDSjhPQXUxUzZoU2RIYQoJCWI3V0I0MGh2cWJiRS9pOGFCSnFuVmV1byt5
	MnJaNnIvL1I1NjdiRDMxTEV3a2NxV1dBQldwM3hRc0N5WgoJCTNHSWdZNE5kSHJEK0pL
	T2Y4enVBSW1YbEt2Y2dWL1NBVjN6UVdwTi9hblZ2empHTzUzYUg0Yy9Semd2VAoJCWxS
	MmFYSERud1B2elpYWVJQQ2FCblorVU1vcHV3U3hhY3YwRjNXMU96THJQWTFqTU9OSUdN
	VG9HcndzdAoJCUVOM2Juc2YzcVd3NHpFRVpQbnRqUCsxZFc1QzlSSjVuNDZ2V2M2a2kr
	dXNmaTlVRmd1YUhxS3dnMVR2WAoJCTFHa2dDK2t5d2VtUmNYUjRWWWFrSkhHa2U3c0kw
	SWZVMGhPTGN2SEo3eGd1RmdFUENGM2dWclB4VkJ4ZQoJCVJJTWc0bW5aNWxqT2hnZnl0
	RTRPY05mRXV0ZHBzUEdkSTRFMWtnM0UxTGxGSnRETThYYlVnZVhnOFVVUgoJCXlWMEcv
	WVRXWkV1K2J1VjVMNm0xeWpJejRQWDBiTG1RRSttMzJ1OWFIV0hFcW9iNXdTeGdBaDlr
	M2FmWAoJCVlQVjk1YkdTV3RUVzRmbk1ZcHFBSmtiZ0R0WDEraCtsZmwzN01INDZYUWxj
	ZVF4NG5TbC95eFQwMit2MAoJCWhoOEN4T2wyOHRJQks1VnIxRUNEUmZnZTNpTTlkVzBM
	VUltaVRsRm5rVW5TV3pZN1Zxc0c0U2xvUFgwQwoJCVpHOVEyWHp2YkJNMTNJK2ZvNmRX
	WEc5elU4OVlocnVuNm5CT2czdnFmTWlKeUNOdk00bHd3ZU5GOFVQZwoJCUFhRXk3ckh6
	U3BiYUdIN1VXVHZMc2Fpb3Q0QkpWTEIrVzFGZ2ROT2EwWFNxNEp5VkhWMlVxU0ptZDlX
	bgoJCXo0UmN0UDIxK2hHT0FZNnRsRGdOVFlIUks4cFh6VmdaYjc3OTcrTTZrVXJxOVMv
	TTNnT3pUZm9BUUNwVQoJCTMzck9kOVRTbWJRN0FGVXhCbnQ3N0J2YXdkK3Jwd2RqeUE3
	d3BYVzBybUtNVWRPVnJUakQwVk5nQzlxYgoJCXdzQUFXcGtOVGdaR3hEWjJpQkE4TVdZ
	UzJmUExVK1VSVTR0Mm5oU3RjQ2d0OWUzSmU2MmRVZW9PMS9JdAoJCXp3TFp0ZGdyeGtE
	YU16MFlaMjRjNzdDa2N0UFV3SWt3azh2WGFYVlYwT3FXSUs4T2kzdzVITXc3Wk81bwoJ
	CTVsY1pTeUprQjhSL2ZlRkxWNnpCekRzRVUvTENkVXFjZ1c4L0xDU1NNcEl3OG9FanNW
	Szh3T3ZnSFFyWQoJCW9sT1NhMVdvNXNQczJWa245Vmtaa1BRRXd0MlRibWRGcktoNFNj
	K1BPSnUwRlRtejc0T2I1UjhWVDNtVwoJCWdjVFlVNUNaT0N6SmRCM0ZuVUQ5NHgwWjAz
	cjYwazRsbXlYUnBmRmdTV2ZvWno0dTFCaDY4R1h2QzQ2TAoJCWZVYUhzK2JoZWorQkhL
	bHhsRVBsVDQ3WVFaelJWMjFRM0FRYk9ycWZXMTVIRTFPdjRUL1NxeHlqZStPVgoJCTQr
	ZlNkN2lsNVluTGg1dzgvSlRDMDB0YW1zZWhGUmJiSlZzUHZHcHhSRjhpY2dKbnRVVTVB
	RG00Qk16bAoJCWJlRXFpbkJEN2RiWURjTVlLdWkwMXloVDdxTk53U1BUNUJQcURSQzht
	TC9xTVdqSExRVG9xWWkrU1NNawoJCWtrWWdvYW51MHkvdFFDUzBhdXhIQ0N3WEVNNHlG
	c2tLejBXOENOdTQzdWcxS1FPWldVNGdvZVBUMlJ2bwoJCUE4ZmEyVnJpdjZhRUpVTFJZ
	R1p6bm1QRXZRUzBEV1M1czN5TlR4UHNHTDVsYkJ3dVlaMkxVazZqbFlrRQoJCW1MUkpk
	b08wcFZGSGlwNjlsR09nRCtyUnh1NVpmY05xdWVsL1VMcktaeGJxcGJrRHdUaFdtb2N4
	STVJNgoJCWVGTDBLVi8rRnpuc3VjczBIUnloVk92d1dPYW1aNlNncUF2dmlRdlpDOXVO
	NWdqdjB4amxyMXh0eTd5NQoJCXJ5MitKSnpTMWJkWE94ZFJDU0psRlZ5RGVJdkM2REVy
	MVowdHYzcUwxdXRWQjk0UWQzZ2Q0NGEyNXVBVgoJCTdJb0FqOTl1VUlKc3R1UExuUklE
	emJ2ZVVKeERzVGp1L0NVUzdlQXFCODNYejBSdFd2OHpmemVEcGR1WAoJCWhhdFhaTTdH
	RHlra1hQaCtFNmlyYmFSOTlQMkRwWXp1bVZUQ3BpTU1jNE5NRjVkZzlaQ1VjUXhMNWtY
	VgoJCWpxUzZuTkJraitQOXBTL1RUb0cvdmdLdnV6UU9QUjd2blVUUGxrclZ1Ny9hOWFw
	RTVEZ3ZyT1diYnlpMQoJCWwrWmlQV1NzT29nU2hWOTA2UVljMTJtZUhtRnRONXNWTTRF
	bDJJSCtOR3J3TUxiOGo4a2EyRGEvWWRoRQoJCTVCWFBCaFQ4SGxLYmttcjB3SmhjVVBn
	MHNNTVB0aVRUVFZyY29ZNDJQUXl2SXhxbXlLVzk4ZllsVHZiYwoJCWt3VTZYUG0ydVBU
	NUVMWCtoWHU1V0FHaWVRbmpuS0NGcVFYMjc0clBnYno4Qy9Bbk5DbWhXakJoOU1PVgoJ
	CWsrQ3RacFhjR1FWaUJaUFlRR05DenRBS0hDRFhiS3l0TnBFQlJHaVlBR1NUYXJrQmRy
	UDJFREJqSU54NwoJCTA4U3NMRU9RNFpqcmFBMmV0cCtWTERjMjl3aFVIQ0FId1R0NUFZ
	bHJiSTI2Qkx6QVRraXZ0REdxZXhpZwoJCTlMd2c2bnRLRnV2S1BVajBmRVl1U0QzbGRM
	SjlJQXlISitNMkRvSzhpZnh2TTFrczB5VVBiN1VyUXFRZQoJCVFlRVlRa21HcmlxM0JN
	c0RLbGpaQUc3MXZDajJkNlRieFJpOGhxN0pneGV0VCtVZjZpMGFnSXdOd1dVbgoJCTJ1
	UkppVVNyM0lNamIvZkh6QW5FWU5oWVB0V2U2WUVGSmxLTEZoOVVlb2VIUkFHRk9MOG1z
	UGRxajJhWAoJCWVRcm1iaENFdUk3SzFxcjlSTE1HM2pGOHVhenRISUg3TU9aT0JkWitF
	cjdodVh1dURadTUwazljVktyRQoJCW1ONTVEcE9OeUxoUU9wWFlqY05CaUxnVmtuWUdK
	b0FsV3VNQ1M1VzBVdEdXY2V4VnZhZDlwZ2N0ckdHcwoJCVl0UnBXM0dkZHFyMHBhY0d4
	VmF6RTB5d0ZDT0dNUnFiZEJSQ2EwVHZhaDY0OXZEZzloUnNiQVJJSTBTbwoJCWdLZVhJ
	dHVvVzFTSlhzYVNEeVQwK0ZtVWV3TnhYbHBhUlVKT0svWm04QnNFR1VFRDI2aDBTS0U4
	b1VFSQoJCThZb1h1UTMwNHNBT0g1UE1sK29qZmZpVWVvd2NnSzlHd2hNa1hrWHpXbGJF
	VEUxUzhpUlRSS2p5ODVtWgoJCVB6V004QWVkMTQ3aVJ4b0V2YXBrKzNVcldNTTdKL3lr
	cjl0WHVML1dLNitNeWFCcnIyaitRUjJqOVZiTAoJCXlFcit4TmdSSzVtbWpTTE91NjQv
	TE1lM1dHUkxOdGlSRUlRQXdCUk5BZGMzUFN1M1E4WU11VUxMUmlOUQoJCUVwRWgxZHdi
	OTJEb09mK3NNTzd6cGh2a3Y5YXZsNW14WUY2ZXdVbktRdm44SnJMb2REOUZEZG10WHhW
	bgoJCTVKdkVtSjh5RGRib21BUVR1WXJBcnp3dmJ6ckI4NEdCUUtyNTUwYWdtYlJSeTVS
	ZkNRNzUrOVFzK045VAoJCVF1THhmRDNUU2hJSTlTMm40MDJ5cG1SU3U5bzBSZ3M5QnF3
	eERPZXpibHNnZkpFUCtyc1JjcnAwMmNvbgoJCTBJU2ovNWdSd3lNcEcwTlZOWVBQeW40
	bktOQjFyVGx0dVE2V001ZjYvN1JQdHFGRTZ1S0NVWUg5anc3MwoJCS9SMDRMajBTWVNa
	cStGU3paeXdKWlorb1c3NXQ3U0dPOUdidmMxbzF2WXp5NlhqWkFCVFFWWXk3aFU0SgoJ
	CUlmb1J2TituSkNFWUk0LytmMGNDbDk3Zk81Vm5PQjhqTHFnbjJKaHVoTGtpV25paUsr
	R1ZDbWM0ZDErUAoJCUV0K0pTelNRaWF3NnpBWmd2ZCtrYjdOY2EwWjkzM3hqMDU2MEF0
	ZkRBMHZLOFdBYkN2dzlyUVR2dFkyVAoJCWNxV1hhQXZ0ZmcxSVpMdXNneUFlUG5haTc2
	U0hKNDlxNWpLZmtUMU9UV2VpZXNUYmlldTRPRDArRlN5SQoJCWVkM3lkL3hCOW0yaEw4
	R1NnU3Q3SGR5Snd1NnNNV1QrSFA3TTJPVmdTMFhDZURGMTBFOFVrRE42QjBPYgoJCWk2
	UGR5ODJsT1d6MDF5cDRxbVloeURKaXMxWTZWS0dtcmlDYW5KYzJUSzFFNWNQMXF6TGxN
	OXJhaUU2WAoJCU10ZkoreG5SYnJKTXMzWjFUaXJGRkozdzFHK1dPSWtvRzk4eWJvTjlO
	bzVxdXNiK1BZZHhjSDZ2YzUyVQoJCVBHRllQVk9QK3NENW43dUZ1VjZab2cycVpwWjZW
	SmNTaXVFNmJNQlNjUjJPTlZkUktnU3NTdHovUTJtSAoJCVpwNGJiKzZ4ZWdqN3UxdVV5
	bG92RU1sbXhYM2hnVUpGaEpqTlJqN3gzczZTdDhod0J0UW5JN0hYR0xXOAoJCUZuajdj
	NUx1NU9UNHFPNmpyY0puS3pXSXdBVGVNMXV6azFrNGt1bzlPckV6VS8ySjRqQUNnbnlF
	QnJDagoJCVRoQVcvVnJlb0lpQncvNkZQSlN6am9pT1ZnSGE5ZzVabENvRmIvcjUzL0pp
	V2VQeWU0UmpRU0xNcnI3eQoJCW5HVDNnUHpmK2krNGpuVFRxME1IMDhTOXhCeGU2amdu
	bE9UaWNHYk1OczZNKzdCZUJLU29TNFFyVDVYQQoJCW5mY1ZscHZ5V1RnWFF2ZUNWeGw2
	QWtGcm1JdDc0L1hTalZkblUzNGJ6OVREajI0b2JaOXdZdmM5anZYVQoJCUI2Ni9XNWFM
	VDVWQmFqOXMwQ3E3bGo1LytZRzQ0TU80Ylg2Z2JFaENYaTRnTExrekRzL0ttdFZFYmdy
	YgoJCVlrdXJBTFJoN1dMd0svMUdhajVGYVBDT3BuMEZIbllGTFk3SFdKZTNvWllXak53
	VkpGMGtlK1Rqa0c2VwoJCWx3NHpvU0hTVi9PaGZCWUFweXd3RTdqYVZ6dzk5aXQ1OXhu
	NjRWdTNXbFhCdTlESW10U3F2SlZJMVZiVwoJCVUrejQwVmxYT0lNbFl6WlFkTmw5OVZs
	ek96U1FrNGtoUWovNnNMU3BVekV2OUFjNEh2OGVBdEQrRjFtaQoJCUNrdU5wRkk5S1Fk
	RzV1S2NGdUowb20rczdML09EQjNpRHRxUXpIRXRoc044RWxRTDcvcU1UY2JSNDYxaQoJ
	CVNCbGg4NDF6S1pGelRER1N4c0p4UDFUL0k5S25WdS9UclNia1E4K3plczAyc25NOEtH
	aDAyWXhWa00zNAoJCTF1cmh6T2l5bW5xRDFMdXd2TCtrMTZmY2pMbk1reHQyNnhMdlRn
	K2QxQkx6M0FsRlI5aitXYzBoVCtYQwoJCU1vWHE1M0VJYjBOLytrVThNVG42VjJwSXpI
	eFJIZ0tUQ1ZOTnEvNzkxT1QzbkZWSGNRSVhNcDdoblF0bAoJCWI3Y3FjWUV1aDkwQ2wv
	eGN1K3UrL2I5OGxFMDFRMHhVcnRhNndBT0lBay9iUWI4cG51QkJOQmU4WStGNgoJCWdr
	MmplczlRQ0lpQTh6bWF3NVFIZytESzYzOUFlaU10d0dvZEk5VlFoaVBMZWtpNnhJcjhl
	b01VSWFnKwoJCXdGVU1ZdmZ0VUllZW54ejZkVkVhdnU4N2VIRERpQUV0VU4wS0lGUEVy
	YmdiWE9odTBVZGxtc3M3Mk9UMgoJCVRvOGZ6ZkUxbUo5ZFAzWE43WUR5Y2Q2N0k0V2tV
	VFVhdys5a1lna2xad1ZHbERHTXpzYVh0WmN5eDlOcAoJCU9BdFkrd0Y3ZkNFcmtQZ002
	MFU3MzMxSjIwekd0OTgwdjEySlJUVGNBVE1FMTc0MTNjenFjNE5nQ1V4OQoJCVNBVnF3
	alZYUXFzY2ZlSEJmWTJGN0duSTFwS3czajN4REZmVlZIVU9KUXczWjJmVFA5T3FCaDZL
	WDdTYwoJCWJLaDhPTXNPQWtKYXhpTFpJaGVQU2lsUXo3bHc5TmRDeWEzZFBiNjIwdE42
	THFHQkVqUnNiTDAzTW44ZQoJCXdxN0s5UEgvWVkxcmtoVDdtUmNrbUdVMEhES0VGYUV0
	Ung5R01LTm93aG9GYkQvY1dzTDJCcXNNaDRyNAoJCWhsbGFzVEUzZUFEVEhMTDI0YmVy
	aThGdTErUmRZT3ZLaWhkeHFIeEpFaHg3QWlNYXhKL2U5cnZmTFp6TwoJCTJoL2lVdEV5
	SXJzWmVHay9SUU1xV1RMcE04d0N1UVZpOFA0eVFBZUV5ejhxZW90MnVvZk5GZGkvTXRC
	TQoJCUhvZ3ZkaHpUVnlMQUFFcTEwQ0oyZjg1YmEwYVNJZkNZcjE5UGdSVjNZZDdkUVVn
	bWFJcnp4QklHUEVxdgoJCWJiZHZCNWtja2hOOFZ5NVYxLytlQ0NFNlR0UFNtak9iN1ZC
	UnBPM1R3SWVST0UxYUoxTnM0YUNlanJGNgoJCWM2OU82UEc0R0F3UFA5YXJiVWhuL0h0
	WGtrWWhaMjN5ODN0czZqaFY4RmFzc2ZWYldlclp0QmtXdnU0YQoJCWJrb1REd3phNFpH
	clI4a0NCMzFjbEhqcTk3bXNnNk9MbzFCNW00NGtHTmE1VlUyL3EvbURmWGRoUnhKeQoJ
	CTBmYUdZdUI3a2dkVnp2VDZ1WU0weHZlMVZ4ZGhqSFF6RDVNbkhscjRjaHN5UEppZzZt
	bVZLZWdHSHNaWQoJCXBqUUtPSzh0M1dNNXFnaXhwOUlHd3JqTERmekV0L2JiTmQzYlJl
	NEl6NVdGK25LWjFjYklXVkVWL3ZkUwoJCXlCNDNVY25vSHRhMmRyMXlYSUY3MFdtcVAw
	ZTNVNHdsa1ZyTm42Ui9obzl1dGhsZnV6cG9LREVDdzgvQQoJCThQenBuVzdWdDdxd2RN
	UXlNeDhyQkZrallqb2hxY05OVTQxWEZqdytYdzdJS0hmOEZFZ1lmMGZ4TGYxTwoJCVBz
	Q0NIQnpVYVZaUTUzdk5CQXhhYzA2Rnp2c2xiZXhuQ3JMMUhnWEk2RnFxV1h5RGVJbWxZ
	enRYV3hvUgoJCUZkTUg3dXp4TldjMnV0dkl2VGlYM3FHWC9STWFVeGI3RnZPb2xSQjky
	QWZ6SVBTVXhQSFJsK1FLcEEyMgoJCWZSZmREeUM5b21uZkZ1N1BQWGdaT1dCS0twMUpr
	QnQvTlpGSEpnTGxYYXFpSGIyUm1Jd3FQSUQzTEJlYwoJCUJJeFZjY1habHhjQTZFQkt0
	N1d0dkJKOTZHcTNZdjFSaFFwaVlCNWxMOWp5Tm1hYXRIVGxadWpkQlY2NQoJCWtjaDRw
	SnFIQ1phMVFwRFRWVnR0S3RvUk5RVTQ4VkJUZmg1dlhRQkVITlV5K2xaZnBhQzV1WXpt
	aFhrbAoJCUdleWZmQkFrVmtYU3dkMy8yeW5OM2NGU1VJR0lQeW9obm5BVjIzTWtwUXlZ
	c2l3SU1tbE5JT0dwZlRQOQoJCUVLeDlUdWMyeHk0YUNPelFXaVJaTWU4Kzh0ZDBST2E0
	R0xDZ2NJbThSRng0dCt3bWdSS0hOa0lISUg3bAoJCTN2MHJWTWEwb3FlTG9LVncwOHNE
	WXA1aFh2TzFQT1lMcWxQdE43aHBXV0hQQjVwZ0ZjQlV4ZjFGekxCSwoJCVlaMWV1TUE5
	ZVNvVXo4RjJORmZrT0JvMC85c3h1QW9TRERLaExHWHRaMGl1RytpSEpoNWpqTmp0QjMv
	aAoJCWlhRlVCUzRVc2E3dVJ3MGtNeFZkOXRtdFFEWEU0SXhCKzNqUnBpRkM5cytGakQ1
	MmhPdDdmNTRPRWRscQoJCUFQWEZSRmpxRm13eHpqSXZhM1ZmVSsxK1RyUlhxcnJjNlJO
	SGFtOE56M0Q5aG9QaGF5dkRwVGs1Y21ITAoJCXh2Q0dqT1kxRVFTcmNTVkhteFdTTnEv
	aFNrTmtYZlZHeldKWFluRk5kUzBhVXMwNlBZRkZmdlJQdytFMQoJCU5lOFFiOFNOQzVI
	N2g1S0ZQekY1TENvanRZRzNWeituSkxSNTBudmd3QTRWLzc5bVcxSVVSVlJuazBhbQoJ
	CVkwenpXbk1ZT25Nc09MSVRSR3dPWEVkYWhsZll6OVNhMGwzVmZ5NDliZ096MFJtRm03
	elprc21OYkl3cgoJCVNBLzdEV095WkV1UjhsZ0lEYVE0TDhtaFBEUWN0a1hlVVV1RjdF
	OVRUcFVvV25lLytKNmU3d1JFQ1pMSwoJCVpjRld5ZENLUVYrZEpPNnNtT3dhQXRTSVd2
	Uy9FMWdyYk0vaFNMY01HR0dUY2JaelpGSHhFRVZpckNrdAoJCU5ZUGJ5RlZEdXFDeHNW
	YVZXSnZGQ0lOTVZ3SGpGVmRzZDhJby9nVzladjdZRW9pS3RiamZJeC9wNkVOOAoJCXEr
	aGFMbk8wa1pLM05OcU9od2dLUEhwa1d1T0QwaWpUNXpyVm5GWWNUbXc1NDJIQVY3bk5z
	V2M2MW1ibwoJCTh1T05rZTlTZHhYWFA0V25saG1Mc2pZbjQ3UHc2Qld5RitqSmFjZWlQ
	eHJDdEs4V3lIZzVSYWZMNExaTgoJCTNNR3JhUXgyRUM0L2ViNE5kVlBHREdpT2pUa09W
	VVdKcjZtSjdmcm5iK0ZJNXl2N3BzWmlod2xHRWZlSgoJCVRDb01YK3d2QStlakIrTEpr
	YXlSMDhMNlhkRDBqVThPTmJ6b1ZkbU84ZkRJSzFnSnJPT2NPb3laWE5VNgoJCXEzeDZ2
	THNMYnRLZVBaQnZFZ3FSeGJDc3dmZHJkMkszbjRwSXR1WG5pR1pVQ2Z2K0lMS24rbVhy
	WE9TUQoJCW9vOWJsYVZHdjJaV25SaERWZEwydEpJc1N1aGtHVDQ0TzBleFNjcVZ3Uy9j
	YnFmeldjM0poVVNnODlXSwoJCVlIc0RvQWlmNDRhci9SUlR5MkNxMlI1bUF5NHdSRjZs
	SG1kbFZHOU9GTWtOVEM0N3hXRENvMG0rMFAvTgoJCUNmVUoySnkvcUg2VmtrdThqTU1W
	RER0MnF5aitDQXZNV005SUdsRlB4NnJKWU15UU9SU3ZwR0NUVS9RZgoJCTJReEtHQU5q
	emVRVGlBbFRrMytoc29tRmZwbk11U2JQRnNtSjcxMTlaUWpla0V6MXRCaHA1MmNjNng0
	UgoJCU9Cbm8rZHlOSk1IRWtVbG5NN3F0S2FsU1VOWnk4U3FGS1J1ZWY2M2V2L252RlFy
	Z2RydTR5TlBZbmp0bwoJCTlMV0l1aE1kYzNVZHI1ZGl5cFd5OVBrVFhoWGh3c0xBSmts
	OFVOb3hGdlZOYVpIREduYk9wMml2RXlqRgoJCXVzQ1dlb3UzNjJYaW1DdjJSVWlCM1Ew
	S2x4eGN0UEZRWmRTWHhnZ1RuNmJnUGp5NkJ5SEJkc2hlQ2Y2SAoJCXUvSUh2YUJWUlhU
	KzFjT3VBZTJ1OXBzQlBQV1piTFZrdmw5ZkR6aDFYVENMNFc3TmU5OHlMaVhqdW5aaAoJ
	CUE3ZEp4M1JFRkpnVmExY2JDUlJzY3hxUkgxODVwYjNpVGZMeklrRGVtbWVEQkVqMXI3
	TU9BMm02cWJkbQoJCWthQzFiRnpoN3hyck0vckZGejgyY3VlbmdYL3p2cDNzZHRCbWhZ
	QVgzbjJOcVJ0dHFSbm1RNnlhTTFqNQoJCTNURW8yR29oOXZMbGFtb1hOTG93QXlubWN5
	UlBkVmZrNHplRVJ0T0I2eTBaam90TEtpYUFxek9qT3FSMgoJCVF3cEdlU0c0bGJaQzY0
	b0lzQ1hCTVNnN1YrT0FrOERoeGN1QWdneEM3Zjdqd3BOUXFPUWZiU3B4MkVOaQoJCXgw
	UDRabGQ4TUhBektxUXprcGVBdWlaUkpTVHJaaE5TVlZ5ZVVuZnc5ZU9FVE53Y0tTNFFy
	UWZnYkNTdgoJCVArQ3hDM0RqMEJMaFhuZFRxRy9Fdko4bHptazdLR0VONThGZTZjTHBI
	YytrYTZRTWluRklZbW9qNklobgoJCU9RR3FKbmFWODl1K0YzM0ppeFdzQnN3UnQ4NlE3
	cUxWZnB5OVREM1Z3NlN2dDVqcnhWWDN6bjlMOUpUdgoJCTNSanVFRlNDQjlVZFYrN2gw
	SkRyZjFrSGg3NStLbkZHQURlbXpDQ2ZCaUdDSTJHcDhIMjN6VktGUndrOAoJCXN6bEc2
	VzI4VUdWeE5CL1l1UVE5YmtUbUpldERpMjZaY2lBMm5GOExCbkEzMS96V3NwWDdXN2dQ
	K09iMgoJCXVWTkt5SjB5WUluMXp3S25iTGJZd2ZpWXR5dTR0N05sem95elkvZ3dNd0lY
	dk50NmtBMWtSQmRYWnFxWAoJCWxLSkNZcUZIVGxhbDN4NkU2VmIrMEdUR3kyaWtRT2tk
	TXNRMVAyOHVMOTc4bFh0aEE2ZnJXUzdxUkIzRQoJCWpYRWtJSTZCTDdUclR2dzdtcmU5
	L25sY1B1R1lBbVVUNU42T2hXT0gvVnh5QW1mNnZ1Rk1DbW4rc2NzRwoJCVB4TFNVQUJN
	QVM0N1NQZ1pzMG9QT0xLQml6VU1uWXRmZlNEY1dxcEZOK3djSmc9PQoJCTwvZGF0YT4K
	CQk8a2V5PldpZmlBZGRyZXNzPC9rZXk+CgkJPHN0cmluZz4zODo2NTpiMjo3ZTphZTo1
	Njwvc3RyaW5nPgoJPC9kaWN0Pgo8L2RpY3Q+CjwvcGxpc3Q+Cg==
	</data>
	<key>FairPlayCertChain</key>
	<data>
	MIICxDCCAi2gAwIBAgINMzOvBwQCrwACrwAAAjANBgkqhkiG9w0BAQUFADB7MQswCQYD
	VQQGEwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEmMCQGA1UECxMdQXBwbGUgQ2VydGlm
	aWNhdGlvbiBBdXRob3JpdHkxLzAtBgNVBAMTJkFwcGxlIEZhaXJQbGF5IENlcnRpZmlj
	YXRpb24gQXV0aG9yaXR5MB4XDTA3MDQwMjE1MTcyOFoXDTEyMDMzMTE1MTcyOFowZzEL
	MAkGA1UEBhMCVVMxEzARBgNVBAoTCkFwcGxlIEluYy4xFzAVBgNVBAsTDkFwcGxlIEZh
	aXJQbGF5MSowKAYDVQQDEyFpUGhvbmUuMzMzM0FGMDcwNDAyQUYwMDAyQUYwMDAwMDIw
	gZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALhgzNfm0PVVMAmAjfjfY26DQoVluKDt
	eD/TSoJKTxL9JoXorCsnu82vF8r1soi1NfKjlzBljJN1iIiTUiu6bBKMrrO20e25jJv9
	rPtE6nObCl+X6gSBke59r/Da3G2Nk/MRYrGDBeAs8tGBPgj3VVL3kRjfb3n4aF9pAknX
	Ajt/AgMBAAGjYDBeMA4GA1UdDwEB/wQEAwIDuDAMBgNVHRMBAf8EAjAAMB0GA1UdDgQW
	BBS3U61a2KK1RPtB2biyZ4xvHSqdYjAfBgNVHSMEGDAWgBT6DdQRkRvmsk4eBkmUEd1j
	YgdZZDANBgkqhkiG9w0BAQUFAAOBgQAL8UNgC8firA4LKemCt3bCbrXt1xRTAh0L54h+
	48frpb8ziLQNnovzaMlrq+7mM8yDC4Bf+s4D/Sr+0auJ0qkUESuAaKUk6MYcO+L91QXt
	XR/yduiqBJ0lpeMlrvtMJHLD0Uh0VZbAtBC/u3K7mnsQ+/ik3K75ep7mD4RfyyrBKjCC
	A3EwggJZoAMCAQICAREwDQYJKoZIhvcNAQEFBQAwYjELMAkGA1UEBhMCVVMxEzARBgNV
	BAoTCkFwcGxlIEluYy4xJjAkBgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0aG9y
	aXR5MRYwFAYDVQQDEw1BcHBsZSBSb290IENBMB4XDTA3MDIxNDE5MjA0MVoXDTEyMDIx
	NDE5MjA0MVowezELMAkGA1UEBhMCVVMxEzARBgNVBAoTCkFwcGxlIEluYy4xJjAkBgNV
	BAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MS8wLQYDVQQDEyZBcHBsZSBG
	YWlyUGxheSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTCBnzANBgkqhkiG9w0BAQEFAAOB
	jQAwgYkCgYEAsmc8XSrnj/J3z+8xvNEE/eqf0IYpkAqj/2RK72n0CrnvxMRjyjotIT1S
	jCOJKarbF9zLKMRpzXIkwhDB9HgdMRbF5uoZHSozvoCr3BFIBiofDmGBzXmaXRL0hJDI
	fPZ4m1L4+vGIbhBy+F3LiOy2VRSXpE0LwU8nZ5mmpLPX2q0CAwEAAaOBnDCBmTAOBgNV
	HQ8BAf8EBAMCAYYwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQU+g3UEZEb5rJOHgZJ
	lBHdY2IHWWQwHwYDVR0jBBgwFoAUK9BpR5R2Cf70a40uQKb3R01/CF4wNgYDVR0fBC8w
	LTAroCmgJ4YlaHR0cDovL3d3dy5hcHBsZS5jb20vYXBwbGVjYS9yb290LmNybDANBgkq
	hkiG9w0BAQUFAAOCAQEAwKBz+B3qHNHNxYZ1pLvrQMVqLQz+W/xuwVvXSH1AqWEtSzdw
	OO8GkUuvEcIfle6IM29fcur21Xa1V1hx8D4Qw9Uuuy+mOnPCMmUKVgQWGZhNC3ht0KN0
	ZJhU9KfXHaL/KsN5ALKZ5+e71Qai60kzaWdBAZmtaLDTevSV4P0kiCoQ56No/617+tm6
	8aV/ypOizgM3A2aFkwUbMfZ1gpMv0/DaOTc9X/66zZpwwAaLIu6pzgRuJGk7FlKlwPLA
	rkNwhLshkUPLu7fqW7qT4Ld3ie9NVgQzXc5cWTGn1ztFVhHNrsubDqDP3JOoysVYeAAF
	2Zmr1l6H6pJzNFSjkxikgzCCBLswggOjoAMCAQICAQIwDQYJKoZIhvcNAQEFBQAwYjEL
	MAkGA1UEBhMCVVMxEzARBgNVBAoTCkFwcGxlIEluYy4xJjAkBgNVBAsTHUFwcGxlIENl
	cnRpZmljYXRpb24gQXV0aG9yaXR5MRYwFAYDVQQDEw1BcHBsZSBSb290IENBMB4XDTA2
	MDQyNTIxNDAzNloXDTM1MDIwOTIxNDAzNlowYjELMAkGA1UEBhMCVVMxEzARBgNVBAoT
	CkFwcGxlIEluYy4xJjAkBgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0aG9yaXR5
	MRYwFAYDVQQDEw1BcHBsZSBSb290IENBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
	CgKCAQEA5JGpCR+R2x5HUOsF7V55hC3rNqJXTFXsixmJ3vlLbPUHqyIwAugYPvhQCdN/
	QaiY+dHKZpwkaxHQo7vkGyrDH5WeegykR4tb1BY3M8vED03OFGnRyRly9V0O1X9fm/Il
	A7pVj01dDfFkNSMVSxVZHbOU9/acns9QusFYUGePCLQg98usLCBvcLY/ATCMt0PPD509
	8ytJKBrI/s61uQ7ZXhzWyz21Oq30Dw4AkguxIRYudNU8DdtiFqujcZJHU1XBry9Bs/j7
	43DN5qNMRX4fTGtQlkGJxHRiCxCDQYczioGxMFjsWgQyjGizjx3eZXP/Z15lvEnYdp8z
	FGWhd5TJLQIDAQABo4IBejCCAXYwDgYDVR0PAQH/BAQDAgEGMA8GA1UdEwEB/wQFMAMB
	Af8wHQYDVR0OBBYEFCvQaUeUdgn+9GuNLkCm90dNfwheMB8GA1UdIwQYMBaAFCvQaUeU
	dgn+9GuNLkCm90dNfwheMIIBEQYDVR0gBIIBCDCCAQQwggEABgkqhkiG92NkBQEwgfIw
	KgYIKwYBBQUHAgEWHmh0dHBzOi8vd3d3LmFwcGxlLmNvbS9hcHBsZWNhLzCBwwYIKwYB
	BQUHAgIwgbYagbNSZWxpYW5jZSBvbiB0aGlzIGNlcnRpZmljYXRlIGJ5IGFueSBwYXJ0
	eSBhc3N1bWVzIGFjY2VwdGFuY2Ugb2YgdGhlIHRoZW4gYXBwbGljYWJsZSBzdGFuZGFy
	ZCB0ZXJtcyBhbmQgY29uZGl0aW9ucyBvZiB1c2UsIGNlcnRpZmljYXRlIHBvbGljeSBh
	bmQgY2VydGlmaWNhdGlvbiBwcmFjdGljZSBzdGF0ZW1lbnRzLjANBgkqhkiG9w0BAQUF
	AAOCAQEAXDaZTC14t+2Mm9zzd5vydtJ3ME/BH4WDhRuZPUc38qmbQI4s1LGQEti+9HOb
	7tJkD8t5TzTYoj75eP9ryAfsfTmDi1Mg0zjEsb+aTwpr/yv8WacFCXwXQFYRHnTTt4sj
	O0ej1W8k4uvRt3DfD0XhJ8rxbXjt57UXF6jcfiI1yiXV2Q/Wa9SiJCMR96Gsj3OBYMYb
	WwkvkrL4REjwYDieFfU9JmcgijNq9w2Cz97roy/5U2pbZMBjM3f3OgcsVuvaDyEO2rpz
	GU+12TZ/wYdV2aeZuTJC+9jVcZ5+oVK3G72TQiQSKscPHbZNnF5jyEuAF1CqitXa5PzQ
	CQc3sHV1IQ==
	</data>
	<key>FairPlaySignature</key>
	<data>
	najHsMxz+koFTHYqi1/RwK6hArqeggXcmk7s9W/0B4rIpEEKlx534AInCStnR4s1tj4E
	ZEpFrLjInLy5ZWMoB5Ozt3frpsjDgbx5+BD7n6T8E0VrE3XIGZcqA/OgmBFeIc3kQAI7
	2STURp7Xe7dAMNErlzL0UkywqMroSTLE8ig=
	</data>
	<key>RKCertification</key>
	<data>
	MIIFxAIBAjCCBb0EIP4C3sqQtP1S2hwBZzCoHcsoH2xNu5c+a4Q45oJ1MKF3BEEEPj31
	cmfxkjDhYsnN7AoPqnuJVFy4CxPwFud7CkkMyrDnYSeoii8rohpbIbQEkSyWb7hpApe7
	/Ah0GwR1cGsuvgQQshh6KyCBp/sTruHneSbtwwQQHIEVBFWZOxwWtXOcv/SEDgSCBTDi
	/gsB+72WA5WkncjtVV5yvRL5kSCLd05dYlrfPnDqWAgRKaJoAGSRlP65cBwH2vEeTJ+G
	+cPiaTGU6id6Qgi7cDbP8z14vRxG4rvmcPUboRpkfAV8UIZCWgcXqmUYCUlCG43wX6eF
	EX4uw+fILXfw59wqzRiiRomhem9xcgChIv0KXHrNa/O7iTqlI9ZKeS6emh39MAg7J9Qa
	DPfJGMlSLcqYgi8B01EZIubM7mzAPt2DpPoo3bgCVIDdvQMIZe30VedOxgNiSJW5n2/n
	lcSAdbltvSU86nQGBwaVQkJJVdvzgiVa9E65JLv9Zy+EdbV09MybGwyweI658ZcgKCI4
	mLVKZURGx273HOTo1i2PBZRmxMwjuhm20NGpecEy9IolClwDtb35/S4yu9MG2egS0hVT
	5keyVanTK8iZTcYvMqlAmd2VdUrnHAgH2wG4f8byoe6Uyb5vUpoTguSFvTNzUC7gSDKT
	seJHA90Cwr0fglAkuoQgGGTPVpQXLXAUBj2Z4DlPLqMyshvkGcdZ1K0OG8FTO4Um2oAF
	erhd7qYR6P7T/MutePxPykjOx91oTRM1QYVpJQR3vI6jv3it7SCwBCBJh07vG2FV5Pf1
	Jhts6gjIQFrUaUvBQ65abX5Yg+jZc4afJPsLyPM4xrIo9nmveoEGuK0P2Vn+HSsLqn84
	4GHpcJM+98vwz1MB2bb1TuHwnohe4suvGVQJCOdKTCstqCM8C0RyiRxdDOqiRIpt85Uv
	DgaOcSkdD1O9ch6fMeFuplMHyHygq6K/F/FtjPIZ6L1h75jiwChrVdRynDn3j8CvaNXK
	x8Ld+G12Q+j0IiCdtYAnLr+ZzcY1SpBiT43RqXSfM2YqWZYp2PFtBOPHn+dV4SF7+gih
	x7XNqYnX6xVMS/yD/zXd7jeMWFAnbuxAaW1TGPCsMomA1XQ1NJZ9E8IgLfrv4R+nMigB
	OWAEPEr5LoGGFG2fAgdQ8G5TZ6J+1PfOoBKeIoL73xo4qQLCiZeanqks+Tdb10XuBv2p
	l2T+J4h/WJlEVOGxNoHF7gK4F2ljy3GCjXxXp5VZduQIFraJ3BMyPv0mQ5W8GeVAc/or
	Xyil+9IYWrWZmx1QrkJCzjfIXidEmrBq80ODNDO4UM2sedvZmGBa45wBzQHezpNXk26j
	EvYTN93/nAhI8JrHiBfFKC++CGxYhrHW2eFAcZiZK+5FT+FnZ4949/rtqK1p5kZYnxiF
	qLdSLiLyPtwbyggqgDB/6s26BsQSFKzn0V141VRxnfOT7E6FeLpz2/FzSfpc/zXWN2+v
	5ZEB4wDzxiSBWf5yCHB3ujO1rUqh905tflab+RbyQ7tK9N7Z7gPZIccLmaa45T7hnO5U
	uCq/Fgni1eJeEz9NIH/XlOx5qW+TtacTojiaAQTJZqJ72DkGNG7SNSdlNvZoaHn23uHE
	9OyaiXNgrWxdy1davw2Ad3D4X9YaL6dLQc8KInvlZg4vXGmdpOcVFakPBXwphtKO2D/Q
	7RFk/BDauQVcQBzj7Gf2bgbEsTMsRlJWvumzs6ANPWQJ9LKcD2G54t01HPOF7aGJM3Gu
	QIw5FY81E5PpubhsLI57anQZf468QVuWY1dAVypSPMAmIXnxQq2hXsy79bm6lLSmm9S8
	RtDDjMyOXSwCh/aBfEoeLSBa5qE4hy2uK74SPYKN9NMgxkNeF3cwcVJu+2evHxy9N7Dj
	PDB+ivnGDK2O145LkPfDTPla79OWX04kK1AYgiFA1HAWSBZRSUDq3ROIVl/mPYKVPJYP
	Bw==
	</data>
	<key>RKSignature</key>
	<data>
	MEUCIQCeepbieFaCAiyesyxQK55j38a4jTQ/VOL6TtpQsQ2tDQIgCr5gMaI6QaOPvwJy
	zp1S6Q2Bio/BBzKwbDYy/jZqR1s=
	</data>
	<key>serverKP</key>
	<data>
	A76QqOaWIIJv4PP1qGXxPf6w82dt/mO0jWFIBZTtArZ0RpWJTJxDf7Jt4IFCDH8Q6XBl
	oUdG4DIYxH/dTrtX9Rf5rRJ6WgC5bm+Mrd5sIFIYPKO6Xg==
	</data>
	<key>signActRequest</key>
	<data>
	RNLYS6EmuoUFX/ImX5ewQA==
	</data>
</dict>
</plist>
